body {
  height: 100svh;
  background-image: url("../img/rainbackground.jpg");
  color: white;
}

/*//////////////////    for the grid of display       ////////////////////*/

.divider {
  display: grid;
  grid-template-columns: 2fr 8fr;
  height: 100%;
}

/*/ /////////////////    for the sidebar               ////////////////////*/

.sidepanel {
  padding: 3vw 0;
  text-align: center;
  background-color: rgba(73, 73, 73, 0.5);
}

.sidepanel__item {
  margin: 25% 0;
}

/*/ /////////////////    for the main sect              ////////////////////*/

.hud {
  padding: 3vw 5.5vw 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
}

.hud__temp {
}
.hud__location {
}
