body {
  height: 100svh;
  color: white;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

/*//////////////////    for the grid of display       ////////////////////*/

.divider {
  display: grid;
  grid-template-columns: 2fr 8fr;
  height: 100%;
}

/*/ /////////////////    for the sidebar               ////////////////////*/

.sidepanel {
  padding: 3vw 0;
  text-align: center;
  background-color: rgba(2, 2, 2, 0.3);
}

.sidepanel__item {
  margin: 25% 0;
}

/*/ /////////////////    for the main sect              ////////////////////*/

.hud {
  padding: 3vw 5.5vw 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
}

.hud__temp {
}
.hud__location {
}
